@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body,
    #root {
        @apply min-h-dvh bg-[#201F1F];
    }
}

/* Dela Gothic One */
@font-face {
    font-family: 'DelaGothicOne';
    src: url('./assets/fonts/DelaGothicOne-Regular.woff2') format('woff2'),
        url('./assets/fonts/DelaGothicOne-Regular.woff') format('woff'),
        url('./assets/fonts/DelaGothicOne-Regular.ttf') format('truetype');
    font-style: normal;
}

/* DM Sans */
@font-face {
    font-family: 'DM Sans';
    src: url('./assets/fonts/DMSans-VariableFont_opsz,wght.woff2') format('woff2'),
        url('./assets/fonts/DMSans-VariableFont_opsz_wght.woff') format('woff'),
        url('./assets/fonts/DMSans-VariableFont_opsz,wght.ttf') format('truetype');
    font-style: normal;
}